body {
  background-image: url('https://ricardoshade.github.io/FrugalChef/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
}

.recipe-card {
    margin: 2%;
}

#all-containers {

}

img {
    width: auto;
}

p {
    padding: 4%;
}

h3 {
    padding: 4%;
}

ul {
    
    list-style-type: circle;
}

#shopping-list-card {
    margin: 0 25% 0 25%;
    display: 
}